<div class="bg-dark h-100">
    <div class="text-white text-center">
        <h4 class="pt-2">Menu</h4>
    </div>
    <div class="nav flex-column nav-pills me-3 p-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="d-flex justify-content-between nav-link active text-white" id="v-pills-home-tab" data-bs-toggle="pill" routerLink="/home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home <fa-icon [icon]="faHome"></fa-icon></a>
        <a class="d-flex justify-content-between nav-link text-white" id="v-pills-profile-tab" data-bs-toggle="pill" routerLink="/student" role="tab" aria-controls="v-pills-student" aria-selected="false">Estudiantes <fa-icon [icon]="faUserGraduate"></fa-icon></a>
        <a class="d-flex justify-content-between nav-link text-white" id="v-pills-messages-tab" data-bs-toggle="pill" routerLink="/payment" role="tab" aria-controls="v-pills-payment" aria-selected="false">Pagos <fa-icon [icon]="faDollarSign"></fa-icon></a>
        <a class="d-flex justify-content-between nav-link text-white" id="v-pills-settings-tab" data-bs-toggle="pill" routerLink="/fundbag" role="tab" aria-controls="v-pills-fundbag" aria-selected="false">Bolsa <fa-icon [icon]="faBusinessTime"></fa-icon></a>
    </div>
</div>
